/*-----------------------------------*\

  Partial: helpers

  Helper classes for allsorts

\*-----------------------------------*/

.standalone {
  margin-bottom: 0;
}

.promo {
  text-align: center;
}
