/*-----------------------------------*\

  Partial: objects

  Abstractions that can't be categorised
  anywhere else.

\*-----------------------------------*/

.meta {
  color: $lighter-gray;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
}

.floor {
  width: 26px;
  height: 22px;
  padding-left: 2px;
  margin: 2px 3px;
  display: inline-block;
  vertical-align: middle;

  color: #fff;
  font-weight: 700;
  letter-spacing: .1em;
  line-height: 19px;
  text-align: center;
  text-transform: uppercase;

  background-color: $lighter-gray;
  border-radius: .25rem;
  border: 1px solid rgba(black, .1);

  &--b4 {
    background-color: $blue;
  }

  &--b5 {
    background-color: $green;
  }

  &--w6 {
    background-color: $violet;
  }

  h3 & {
    vertical-align: baseline;
  }
}
