/*-----------------------------------*\

  Partial: objects

  Abstractions that can't be categorised
  anywhere else

\*-----------------------------------*/

.meta {
  color: $lighter-gray;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
}
