/*-----------------------------------*\

  Partial: variables

  Global variables of all kinds

\*-----------------------------------*/


$lighter-gray: #7B8994;
$dark-gray: #3d464d;


$blue: #1081DE;
$green: #48AC68;
$violet: #6755B1;
