/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html {
  font: 100%/1.4 "Helvetica Neue", Helvetica, Arial;
  font-smoothing: antialiased;
}
