/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html {
  font: 100%/1.375 "Helvetica Neue", Helvetica, Arial;
  font-smoothing: antialiased;
}

html, body {
  height: 100%;
  overflow: hidden;
}
