/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html {
  font: 100%/1.375 "Roboto", "Helvetica Neue", Helvetica, Arial;
  -webkit-font-smoothing: antialiased;
  color: $dark-gray;
  text-rendering: optimizeLegibility;
}

html, body {
  height: 100%;
  overflow: hidden;
}
