/*-----------------------------------*\

  Module: content

  High-level styles for the main
  content

\*-----------------------------------*/


.tt-hint {
  color: rgba(0,0,0,.35);
}

.main {
  margin-top: 15%;
}

.js-typeahead {
  display: block;
  max-width: none;
  margin: 0 auto 1.4rem;
  width: 100%;

  font: inherit;
  font: {
    size:  3rem;
    weight: 100;
  }

  background-color: none;
  border: none;
  border-bottom: 1px solid $blue;

  appearance: none;

  &:focus {
    outline: none;
  }

  @media (max-width: 500px) {
    font-size: 2rem;
  }
}

.tt-suggestion {
  margin-bottom: 1.4rem;
}
