/*-----------------------------------*\

  Module: content

  High-level styles for the main
  content

\*-----------------------------------*/

.main {
  margin-top: 20%;

  @media (max-width: 600px) {
    margin-top: 25%;
  }

  @media (min-width: 1200px) {
    margin-top: 0;
    top: 45%;
    transform: translateY(-50%);
  }
}

.js-typeahead {
  display: block;
  max-width: none;
  margin: 0 auto 1.4rem;
  width: 100%;

  font: inherit;
  font: {
    size:  3rem;
    weight: 100;
  }
  -webkit-font-smoothing: antialiased;

  @media (-webkit-animation) {
    color: $blue;
    -webkit-text-fill-color: $dark-gray;
  }

  background-color: none;
  border: none;

  appearance: none;

  &:focus {
    outline: none;
  }

  @media (max-width: 500px) {
    font-size: 1.85rem;
  }

  &::-webkit-input-placeholder {
    //color: rgba(0,0,0,.35);
    -webkit-text-fill-color: rgba(0,0,0,.35);
  }
}

.tt-hint, .js-typeahead.tt-hint {
  color: rgba(0,0,0,.35);
  -webkit-text-fill-color: rgba(0,0,0,.35);
}

.tt-suggestions, .tt-dropdown-menu {
  display: block;
  width: 100%;
}

.tt-suggestion {
  margin-bottom: 1.4rem;
  width: 100%;

  p {
    margin-bottom: 0;
  }

  * strong {
    font-weight: inherit;
  }
}

.tt-cursor {
  color: $blue;
}
