/*-----------------------------------*\

  Module: header

  High-level styles for the header

\*-----------------------------------*/

.site__header {
  position: static;
  width: 100%;
  min-height: 1px;
}

.site__title {
  color: $blue;
}

.site__title, .site__byline {
  text-align: center;
}

.menu--toggle {
  
  &, &:focus, &:checked {
    outline: none;
  }
 
  top: 10px;
  right: 10px; 
  position: absolute;
  z-index: 1000;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 100%;
  cursor: pointer;
  transition: .3s cubic-bezier(0.565, -0.260, 0.255, 1.410);
  
  &:before, &:after {
    content: '';
    display: block;
    position: absolute;
    background-color: #fff;
    transition: .3s cubic-bezier(0.565, -0.260, 0.255, 1.410);
    border-radius: 2px;
  }
  
  &:before {
    width: 2px;
    height: 2px;
    top: 5px;
    left: 50%;
    margin-left: -1px;
  }
  
  &:after {
    width: 2px;
    height: 6px;
    bottom: 5px;
    left: 50%;
    margin-left: -1px;
  }
  
  &:checked {
    transform: rotate(-135deg);
    
    &:after {
      height: 10px;
    }
    
    &:before {
      height: 10px;
      transform: rotate(-90deg);
    }
  }
}

.menu--toggle:checked {
  ~ .site__menu {
    transform: translateY(0);
  }
}


.site__menu {
  background-color: rgba(246,248,250,.98);
  transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transform: translateY(-100%);

  .menu--wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);

    @media (max-width: 900px) {
      width: 80%;
    }

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  a {
    color: inherit;
  }
}
