/*-----------------------------------*\

  Module: header

  High-level styles for the header

\*-----------------------------------*/

.site__header {
  position: static;
  width: 100%;
  min-height: 1px;
}

.site__title {
  color: $blue;
}

.site__title, .site__byline {
  text-align: center;
}

.menu--toggle, .menu--hamburger {
  z-index: 1000;
  cursor: pointer;
}

.menu--toggle {
  visibility: hidden;
  position: absolute;
  left: -9999px;
}

.menu--hamburger {
  float: right;
  display: block;
  width: 16px;
  height: 10px;
  position: relative;
  margin: 22px 10px;

  transition: .2s;
  transition-delay: .15s;
  -webkit-tap-highlight-color: rgba(0,0,0,0);

  i {
    display: block;
    text-indent: 100%;
    overflow: hidden;
    white-space: nowrap;
    height: 1px;
    background-color: black;
    width: 100%;
    position: absolute;
    top: 50%;
    transition: .3s;
    transition-delay: .2s;
  }

  &:after, &:before {
    content: '';
    position: absolute;
    top: 0;
    height: 0;
    border-bottom: 1px solid black;
    width: 100%;
    left: 0;
    right: 0;
    transition: .5s cubic-bezier(0.680, -0.550, 0.265, 1.550);
    transform-origin: left top;
  }

  &:after {
    top: 100%;
    transform-origin: left bottom;
  }
}

.menu--toggle:checked + .menu--hamburger {
  transform: translate3d(8px,0,0);
  transition-delay: .2s;

  i {
    opacity: 0;
    transition-delay: 0;
  }

  &:after {
    transform: rotate3d(0,0,1,-135deg)
               translate3d(-4px,4px,0);
  }

  &:before {
    transform: rotate3d(0,0,1,135deg)
               translate3d(-4px,-4px,0);
  }

  ~ .site__menu {
    transform: translateY(0);
  }
}


.site__menu {
  background-color: rgba(246,248,250,.98);
  transition: .3s cubic-bezier(0.785, 0.135, 0.150, 0.860);
  transform: translateY(-100%);

  .menu--wrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-60%);

    @media (max-width: 900px) {
      width: 80%;
    }

    @media (max-width: 600px) {
      width: 90%;
    }
  }

  a {
    color: inherit;
  }
}
