@charset "UTF-8";

/*! Source viewable at https://wayfinder.daneden.me/assets/scss/ */

/*-----------------------------------*\

  Root: style.scss

  Imports all required SCSS files.

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: variables

  Global variables of all kinds

\*-----------------------------------*/

/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html {
  font: 100%/1.375 "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  color: #3d464d;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 480px) {
  html {
    font-size: 87.5%;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.js--is-fullscreen {
  padding-top: 20px;
}

.js--is-fullscreen:after {
  content: '';
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #7B8994;
}

/*-----------------------------------*\

  Partial: all

  Imports all abstracted components
  and helpers

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: variables

  Global variables of all kinds

\*-----------------------------------*/

/*-----------------------------------*\

  Partial: reset

  An overzealous CSS reset

\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/*-----------------------------------*\

  Partial: helpers

  Helper classes for allsorts

\*-----------------------------------*/

.standalone {
  margin-bottom: 0;
}

.promo {
  text-align: center;
}

/*-----------------------------------*\

  Partial: layout

  Layout rules

\*-----------------------------------*/

.wrap {
  max-width: 500px;
  margin: 0 auto;
  padding: 10px;
}

/*-----------------------------------*\

  Partial: objects

  Abstractions that can't be categorised
  anywhere else.

\*-----------------------------------*/

.meta {
  color: #7B8994;
}

.overlay {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 900;
}

.nav {
  list-style: none;
}

.nav li {
  display: inline-block;
}

.btn {
  padding: .25em 1em;
  font: inherit;
  background-color: #fff;
  border-radius: 4em;
  border: 2px solid #1081DE;
  color: #1081DE;
  cursor: pointer;
  appearance: none;
}

.btn.btn--primary {
  background-color: #1081DE;
  color: #fff;
}

.btn.btn--discrete {
  background-color: transparent;
  border-color: transparent;
}

/*-----------------------------------*\

  Partial: typography

  Type styles

\*-----------------------------------*/

h1,
.alpha {
  font-size: 2.5rem;
  line-height: 1.304347826;
  font-weight: 400;
}

h3,
.gamma {
  margin-bottom: .25rem;
  font-size: 1.125rem;
  line-height: 1.222222222;
}

p,
h1,
.alpha {
  margin-bottom: 1.375rem;
}

.promo {
  text-align: center;
}

small,
.small {
  font-size: .75rem;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .1em;
}

/*-----------------------------------*\

  Module: all

  Imports modules. Modules are site-
  and page-specific styles that cannot
  be easily abstracted.

\*-----------------------------------*/

/*-----------------------------------*\

  Module: base

  High-level styles. Basically just
  the html/:root element.

\*-----------------------------------*/

html {
  font: 100%/1.375 "Roboto", "Helvetica Neue", sans-serif;
  -webkit-font-feature-settings: "liga" 1;
  -moz-font-feature-settings: "liga" 1;
  font-feature-settings: "liga" 1;
  color: #3d464d;
  -webkit-font-smoothing: antialiased;
}

@media (max-width: 480px) {
  html {
    font-size: 87.5%;
  }
}

html,
body {
  height: 100%;
  overflow: hidden;
}

.js--is-fullscreen {
  padding-top: 20px;
}

.js--is-fullscreen:after {
  content: '';
  position: absolute;
  z-index: 900;
  top: 0;
  left: 0;
  right: 0;
  height: 20px;
  background-color: #7B8994;
}

/*-----------------------------------*\

  Module: header

  High-level styles for the header

\*-----------------------------------*/

.site__header {
  position: static;
  width: 100%;
  min-height: 1px;
}

.site__title {
  color: #1081DE;
}

.site__title,
.site__byline {
  text-align: center;
}

.menu--toggle {
  top: 1rem;
  right: 1rem;
  position: absolute;
  z-index: 1000;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 20px;
  height: 20px;
  background-color: #333;
  border-radius: 100%;
  cursor: pointer;
  -webkit-transition: 0.3s cubic-bezier(0.565, -0.26, 0.255, 1.41);
  transition: 0.3s cubic-bezier(0.565, -0.26, 0.255, 1.41);
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.menu--toggle,
.menu--toggle:focus,
.menu--toggle:checked {
  outline: none;
}

.menu--toggle:before,
.menu--toggle:after {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
  -webkit-transition: 0.3s cubic-bezier(0.565, -0.26, 0.255, 1.41);
  transition: 0.3s cubic-bezier(0.565, -0.26, 0.255, 1.41);
  border-radius: 2px;
}

.menu--toggle:before {
  width: 2px;
  height: 2px;
  top: 5px;
  left: 50%;
  margin-left: -1px;
}

.menu--toggle:after {
  width: 2px;
  height: 6px;
  bottom: 5px;
  left: 50%;
  margin-left: -1px;
}

.menu--toggle:checked {
  -webkit-transform: rotate(-135deg);
  -ms-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

.menu--toggle:checked:after {
  height: 10px;
}

.menu--toggle:checked:before {
  height: 10px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}

.menu--toggle:checked ~ .site__menu {
  -webkit-transform: translateY(0);
  -ms-transform: translateY(0);
  transform: translateY(0);
}

.site__menu {
  background-color: rgba(246, 248, 250, 0.98);
  -webkit-transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  transition: 0.3s cubic-bezier(0.785, 0.135, 0.15, 0.86);
  -webkit-transform: translateY(-100%);
  -ms-transform: translateY(-100%);
  transform: translateY(-100%);
}

.site__menu .menu--wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translateX(-50%) translateY(-60%);
  -ms-transform: translateX(-50%) translateY(-60%);
  transform: translateX(-50%) translateY(-60%);
}

@media (max-width: 900px) {
  .site__menu .menu--wrap {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .site__menu .menu--wrap {
    width: 90%;
  }
}

.site__menu a {
  color: inherit;
}

.site__nav {
  text-align: center;
  background-color: rgba(123, 137, 148, 0.1);
}

/*-----------------------------------*\

  Module: content

  High-level styles for the main
  content

\*-----------------------------------*/

.main {
  margin-top: 35%;
}

@media (max-width: 600px) {
  .main {
    margin-top: 0;
    -webkit-animation: none;
    animation: none;
  }
}

@media (min-width: 1200px) {
  .main {
    margin-top: 0;
    top: 45%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
}

.twitter-typeahead {
  width: 100%;
}

.js-typeahead {
  display: block;
  margin: 0 auto 1.4rem;
  font: inherit;
  font-size: 2.8rem;
  font-letter-spacing: -.04em;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
  background-color: none;
  border: none;
  appearance: none;
}

@media (-webkit-animation) {
  .js-typeahead {
    color: #1081DE;
    -webkit-text-fill-color: #3d464d;
  }
}

.js-typeahead:focus {
  outline: none;
}

@media (max-width: 500px) {
  .js-typeahead {
    font-size: 1.7rem;
  }
}

.js-typeahead::-webkit-input-placeholder {
  -webkit-text-fill-color: rgba(0, 0, 0, 0.35);
}

.tt-input {
  margin: 0;
  margin-bottom: 1.5rem;
}

.tt-hint,
.js-typeahead.tt-hint {
  color: rgba(0, 0, 0, 0.35);
  -webkit-text-fill-color: rgba(0, 0, 0, 0.35);
}

.tt-suggestions,
.tt-dropdown-menu {
  display: block;
  width: 100%;
}

.tt-suggestion {
  margin-bottom: 1.4rem;
  width: 100%;
}

.tt-suggestion p {
  margin-bottom: 0;
}

.tt-suggestion h3 {
  color: rgba(61, 70, 77, 0.5);
}

.tt-suggestion h3 strong {
  color: #3d464d;
}

.tt-suggestion * strong {
  font-weight: inherit;
}

.tt-cursor {
  color: #1081DE;
}

.tt-cursor h3 {
  color: inherit;
}

.tt-cursor h3 strong {
  color: inherit;
}

/*===================================*\

  Sass Authoring Rules
  --------------------

  Some basic guidelines (that may be broken) for authoring manageable, readable Sass styles:

  .block {
    // 1. Layout Properties
    // display, width, padding, margin, vertical-align, box-sizing, etc.
    // Note: Bracketed expression values — such as calc() or linear-gradient() — must have spaces [e.g. calc( 100% + 2rem )] for Grunt tasks to run properly

    // 2. Typography Properties
    // font[-size, -weight, etc], line-height, text-align, letter-spacing, white-space, etc.

    // 3. Appearance Properties
    // color, box-shadow, background, border, text-shadow, opacity, etc.

    // 4. UI Properties
    // appearance, cursor, pointer-events, etc.

    // Child elements are not always (and shouldn't be) nested in the parent block
    .block__child {

      // Modifiers are almost always nested in their parent element
      &.block__child--modifier {

      }

      &:after {
        // `content` counts as a layout property
      }

    }
  }

  Full Example:

  .block {
    width: 100%;

    font-size: 1rem;
    font-weight: 400;

    color: $highlight;

    .block__child {
      display: inline-block;

      &.block__child--modifier {
        color: $gray;
      }

      &:after {
        content: '';
        padding: 1.5rem;

        cursor: pointer;
      }
    }
  }

  If you want to pick a fight over/learn more about these rules, let me know – dan.eden@me.com

\*===================================*/

/*# sourceMappingURL=style.css.map */